body {
    background-color: blanchedalmond;
    position: relative;
}
.container1 {
    background-color: #a52a2a;
    position: absolute;
    width: 900px;
    height: 700px;

}
.container2 {
    background-color: cornflowerblue;
    position: static; top: 0; left: 0;
    width: 800px;
    height: 600px;
    margin: 35px;
    margin-top: 30px;
    padding-top: 19px;
    
}
h1 {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2 {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
