body {
    background-color: blanchedalmond;
    position: relative;
}

.row-1{
    background-color: white;
    height:75vh;
    margin-top: 55px;
    padding-top: 47px;
    border-radius: 15px;
    margin-bottom: 30px;
}
.row-2{
  border: 4px dashed lightgray;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 8vh;
    
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#textarea {
 height: 20vh;
 border-color: white;
 font-family: Verdana, Geneva, Tahoma, sans-serif;

}

button{
    padding: 1vh;
}
.btn-group-lg>.btn, .btn-lg {
    border-radius: 12.3rem;
}
.check-boxes{
    padding-top: 10px;
    
}